{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
<div class="container mx-auto px-4 py-8">
    <div class="bg-GREEN text-WHITE p-6 rounded-lg flex-col flex shadow-lg mb-8 justify-center items-center space-x-4">
        <h1 class="text-3xl font-bold">Liste des Utilisateurs</h1>
        <a href="{{ path('app_user_new') }}" class="inline-block bg-VIOLET text-WHITE py-2 px-4 rounded hover:bg-PINK transition-colors">
            Créer un nouvel utilisateur
        </a>
    </div>

    <div class="overflow-x-auto bg-WHITE rounded-lg shadow">
        <table class="min-w-full divide-y divide-GRAY">
            <thead class="bg-VIOLET text-WHITE">
                <tr>
                    <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">ID</th>
                    <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Nom d'utilisateur</th>
                    <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Rôles</th>
                    <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Actions</th>
                </tr>
            </thead>
            <tbody class="bg-BLACK divide-y divide-BLACK text-WHITE">
                {% for user in users %}
                    <tr class="hover:bg-PINK/10 transition-colors">
                        <td class="px-6 py-4 whitespace-nowrap">{{ user.id }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ user.username }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ user.rolesAsString }}</td>
                        <td class="px-6 py-4 whitespace-nowrap space-x-2">
                            <a href="{{ path('app_user_show', {'id': user.id}) }}" class="text-WHITE ">Voir</a>
                            <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="text-WHITE ">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="px-6 py-4 text-center">Aucun utilisateur trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}